.popup__close_type_photo {
    position: absolute;
    height: 47px;
    right: -45px;
    top: -45px;
    border: none;
    background-image: url("../../../../images/popup__close.svg");
    background-repeat: no-repeat;
    background-position: center;  
    width: 50px;
}