@import url("./_type_photo/popup__container_type_photo.css");
@import url("./_type_delete/popup__container_type_delete.css");

.popup__container {
    max-width: 430px;
    width: 100%;
    color: black;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    position: relative;
    box-sizing: border-box;
}

@media screen and (max-width: 600px) {
    .popup__container {
        width: calc(100% - 72px);;
    }
}