.element__like {
    color: black;
    width: 21px;
    height: 21px;
    background-image: url("../../../images/element__like.svg");
    background-repeat: no-repeat;
    background-position: center;  
    border: none;
}